<template>
    <div acme-invoiceitem-component>
        {{invoiceitem}}
    </div>
</template>

<script>
    import Vue from "/node_modules/vue/dist/vue.js";
    let component = {
        props: ['invoiceitem']
    };
    Vue.component("acme-invoiceitem", component );
</script>

<style>
</style>


