<template>
    <div acme-invoice-component>
        <br>
        -- invoice-id : {{invoice.id}} : invoice-ref : {{invoice.ref}} : 
        <br>
        --- # invoice-items : {{invoice.invoiceItems.length}} :
        <acme-invoiceitem
                v-for="x in invoice.invoiceItems"
                :key="x.id"
                :invoiceitem="x"
            >
        </acme-invoiceitem>
    </div>
</template>

<script>
    import Vue from "/node_modules/vue/dist/vue.js";
    let component = {
        props: ["invoice"]
    };
    Vue.component("acme-invoice", component);

    //<style></style>

</script>


