<template>
    <div acme-invoiceitem-component >
        <h3> {{person.surname}} {{person.forename}} 
        </h3>
        <b>Invoices :</b>
        <br>
        <acme-invoice
            v-for="x in person.invoices"
            :key="x.id"
            :invoice="x"
        >
        </acme-invoice>

</template>

<script>

    import Vue from "/node_modules/vue/dist/vue.js";
    
    let component = {
        props: ["person"]
    };

    Vue.component("acme-person", component);

//<style lang="scss" scoped ></style>
//<style lang="css" ></style>

</script>

