<template>
    <div>
        <div>
            <p>Person Form</p>
        </div>
        <input v-model:value="person.forename" >
        <br>
        <input v-model:value="person.surname" >
        <br>
        <div>
            <p>Person Moustache Data</p>
        </div>
        {{person.surname}}
        <br />
        {{person.forename}}
        <br />
        {{person}}
        <div>
            <p>Person Footer</p>
        </div>

    </div>
</template>

<script>

    import Vue from "/node_modules/vue/dist/vue.js";

    // this component takes a property called person
    let component = {
        props: ["person"],
        emplate:null
    };

    // After this next code line, 
    // we can use new dom element 
    // called <acme-person></acme-person>
    // And we can throw it some data, 
    // on the attribute caller person
    // like this <acme-person v-bind:person="$data"></acme-person>
    Vue.component("acme-person", component);

</script>

