<template>
    <div>
        <h2>
            {{title}}
        </h2>
        <div>
            <p>123</p>
        </div>
    </div>
</template>

<script>
    import Vue from "/node_modules/vue/dist/vue.js";
    // emplate:null,
    let component  = {
        data: function () {
            return {
                title: ''
            };
        },
        created: function () {}
    }

    Vue.component("acme-x", component);

</script>
