﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/node_modules/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="/node_modules/systemjs/dist/system.js"></script>
</head>
<body>
    <div id="person" v-cloak>
        <input v-model:value="forename">
        <br>
        <input v-model:value="surname">
        <br> {{forename}} {{surname}}
        <hr>
        <i>
            This markup is coming from the .html file.
            <br> Only this html page can have this markup!
            <br> Why not put the markup with the .vue component?
        </i>
    </div>
    <script>
        System.import("/wwwroot/components/dist-ts/demo1-spile/hello-world.js");
    </script>
</body>
</html>