﻿<template>
     <div>    
        <input v-model:value="forename" >
        <br>
        <input v-model:value="surname" >
        <br>
        {{forename}} {{surname}}
        <hr>
        <i>
            This markup is coming from the .vue file.
            <br>
            This .vue file markup can be stamped on any
             html page that has a dom element with id=#person
            <br>
            <br>
            If using the id, then the markup can only be stamped on the page once!
            <br>
            Alternatively, 
            use vue components to stamp a .vue component 
            more than once and use new dom element 
            e.g. &lt;acme-person&gt; 
        </i>
    </div>
</template>

<script>
  import Vue from "/node_modules/vue/dist/vue.js";

    // bind up a view model to the element with id #person
    // Note : prefix emplate with x or t, to see the markup coming from the html page or the .vue file
    new Vue({
      el: "#person",
      emplate:null,
      data: function() {
        return {
          forename: "John",
          surname: "Smith"
        };
      }
    });

</script>
